@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
font-family: "Montserrat", sans-serif;
box-sizing: border-box;
padding: 0;
margin: 0;
}

:root{
    --color-primary:rgb(17, 82, 17);
    --color-white:white;
    --color-danger:orangered;
    --color-black:#000000;
    --sticky-top-left:5.4rem;
    --sticky-top-right:-18rem;
    --color-green:#20B302;
    --color-orange:#FF6600;
}

html{
    scroll-behavior: smooth;
}


body {
background-color: #D7D1DB;
background-color: var(--color-white);
border: 1px solid transparent;
}

.app{
 padding:0;
 border: 1px solid transparent;
}

/*GENERAL STYLES */
.container{
    width:100%;
    margin:0 auto;
    border: 1px solid transparent;
}

/* ----------------------------------------------------------NAVBAR ---------------------------------------*/

header{
    display: flex;  
    align-items: center;
    justify-content:space-around;
    background-color:var(--color-white);
    color:var(--color-black);
    position:fixed;
    border: 1px solid white;
    height: 60px;
    width: 100%;
    z-index: 50;
    top: 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.09);
   }
   
   .logo{
    font-size: 30px;  
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 50px;
    font-weight: bold;
    height:50px;
    width: 150px;
    margin-top:25px;
    border: 1px solid transparent;
   text-decoration: none;
   }
   
   .logo span{
       color: black;
   }

   .bar-box{
    left:20px;
    /* position: absolute;  */
    /* display: none; */
}   

  .closebar{
    border: 1px solid transparent;
    font-size:2.1em;
    right:10%;
    font-size:2em; 
    display:none;
  }
    
  header .otherside{
    border: 1px solid transparent;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
   
   header ul li{
   list-style-type: none;
   display: inline-block;
   padding: 10px 25px;
   
   }
   header ul{
   border: 1px solid transparent;
   margin:3px 0 0 0px;
   }
   
   
   header ul li .menu-item{
   text-decoration: none;
   color:var(--color-black);
   font-weight:600;
   font-size:1.1em;
   }

   
   
   header ul li .menu-item:hover{
    background-color:var(--color-orange);
    color:white;
    padding: 10px 20px;
    border-radius:4px;
    transition: .4s;
   }
/*
   header .cartlist{
   
    display: flex;
    align-items: center;
    width:10%;
    position: absolute;
    padding: 5px;
    justify-content: space-around;
    right:3px;
 }
*/
 header .cartlist{
    border: 1px solid red;
    border: 1px solid transparent;
    padding:2px 10px;
    font-size:1em;
    color:black;
    border-radius: 5px;
  }
 
 .cartlist .count{
     background-color: var(--color-danger);
     color: white;
     font-size: 0.7rem;
     width: fit-content;
     border-radius: 0.8rem;
     padding: 0.2rem 0.6rem;
     position:absolute;
     top:0.7rem;
     margin-left:10px;
    
  }
 
 
 h4{
     font-weight:bold;
     text-align: center;
 }
 
 
/* ------------------------------------------------------END OF NAVBAR ---------------------------------------*/
.about h6{
    font-size: 1.5em;
}

.buyarrow{
    display: flex;
    flex-direction: column;
}

.arrowdown{
    margin:15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color:black;
    font-size: 1.5em;
}




.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


/* ------------------FIRST SECTION--------------------------*/
.sectiona{
    background-image: url('../Images/topback.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    width:100%;
    margin-top:60px;
    border: 1px solid transparent;
    display: flex;
    height:500px;
    align-items: center;
    justify-content: center;
}

.sectiona .boxa{
   display: flex;
   flex-direction: column;
   border: 1px solid transparent;
   width: 50%;
   padding:80px 20px 20px 40px;
   height: 100%;
}

/* -----------------first flex box--------------------------*/
.boxa-content{
   border: 1px solid transparent;
   height: 100%;
}

.Natural{
    font-weight: 700;
    font-size:3em;
    text-align: center;
    font-family: "DM Sans",sans-serif;
    margin-top: 10px;
   
}

.Natural span{
    color:var(--color-orange) ;
    font-family: "DM Sans",sans-serif;
}

.boxa-content p{
   font-weight:400;
}

.spanbold{
    font-weight: bold;
}

.buy-now{

    background-color:#902121;
    border:1px solid transparent;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    border-radius:4px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}



.sectiona .boxb{
    border:1px solid var(--color-transparent);
    width: 50%;
    height: 100%;
}

/* -----------------straight image--------------------------*/
.boxb .imga{
    margin:0px;
    height:600px;
    width: 670px;
    border: 1px solid transparent;
}

/* -----------------slant image--------------------------*/
.boxb .imgb{
    height: 350px;
    width: 350px;
    border: 1px solid transparent;
    position: absolute;
    margin:-300px 0 0 -50px;
    
}

.about button{
    text-align: center;
    background-color: black;
    border:1px solid transparent;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    border-radius:4px;
    align-items: center;
    justify-content: center;
    display: flex;
}



.about h6, h5{
    font-weight: bold;
    text-align: center;
    /* font-family: "poppins",sans-serif; */
}

.about span{
    color: orangered;
}

input[type=search]{
    width:90%;
    background-color:white;
    height: 45px;
    border-radius:2px;
    border: 1px solid black;
    text-align: center;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    font-size: 0.8em;
}

input[type=search]:hover{
   border:1px solid #f8f8f8;
}

aside{
    border:1px solid transparent;
    width:100%;
}

/* -------------------------SECOND SECTIOND-------------------*/
.second-section{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.second-section h3{
    margin-top:10px;
    width: 80%;
  }

.second-section p{
  width: 80%;
  margin:20px;
}

/* -------------------------CATEGORIES SECTION-------------------*/
.flex-container{
    border: 1px solid #cecece;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    overflow-x: scroll;
}

.flex-container .box-container{
    display: flex;
    flex-direction: column;
}

.flex-container .box{
    width: 100px;
    height:100px;
    border: 1px solid #cecece;
    margin:6px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}


/* -------------------------SUPPORT SECTION-------------------*/



.support-flex-container{
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
 }
 
 .support-flex-container .boxa{
     border-right: 1px solid #cecece;
     width:350px;
     height:350px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .boxa img{
     border: 1px solid transparent;
     width:150px;
     height:150px;
     text-align: center;
 }
 
 
 /* -------------------------VISIT US-------------------*/
 
 .visit-us{
     border-right: 1px solid #cecece;
     border-left: 1px solid #cecece;
     padding:100px 0;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 

/* -------------------------RIGHT-------------------*/

main .container .right{
    position:sticky;
   bottom: 0;  
   height: max-content;
   top: var(--sticky-top-right);
}

/* -------------------------FOOTER-------------------*/

.footer{
    display: flex;
    position: relative;
    border: 1px solid #cecece;
    background-color: #cecece;
    margin-top:50px;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 50px 0;
    justify-content: space-around;
    color: black;
}

.footer-logo{
    width: 100%;
    border: 1px solid transparent;
    width: 200px;
    height: 60px;
}

.first-box, .second-box, .third-box{
    width: 50%;
    border:1px solid transparent;
    margin: 20px;
    height:250px;
}

.first-box ul li span{
    font-size: 2em;
    
    font-weight: bold;
}

.footer-head{
    font-weight: bold;

}
.footer ul li{
    padding:7px;
    display:flex;
    align-items: center;
    cursor: pointer;
    translate: all 300ms ease;
    position: relative;
    border: 1px solid transparent;
    color: black;
}

.footer ul li h3{
    margin-left: 1.5rem;
    font-size: 1rem;
    color: var(--color-white);
   
}

li .buy-now{
    text-align: center;
    background-color: white;
    border:1px solid white;
    padding: 5px 30px;
    color: black;
    font-weight: bold;
    border-radius:4px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}


.footer-icon-li{
    border: 1px solid transparent;
}

.footer-icon{
   color: black;
    margin:10px;
}


















