:root {
    --color-primary: rgb(17, 82, 17);
    --color-white: white;
    --color-danger: orangered;
    --color-black: #000000;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
    --color-green: #20B302;
    --color-orange: #FF6600;
}

/* ---------------------------MEDIA QUERY FOR SMALL LAPTOPS AND BIG TABLETS-----------------*/

@media screen and (max-width:1200px) {
    header .otherside {
        width: 50%;
    }



    header ul li .menu-item {
        font-size: 1em;

    }
}

/* ---------------------------MEDIA QUERY FOR SMALL TABLETS AND MOBILE PHONES-----------------*/

@media screen and (max-width:992px) {
    header .otherside ul {
        display: flex;
        flex-direction: column;
        width: 70%;
        position: absolute;
        top: 0;
        height: 100vh;
        background-color: var(--color-white);
        left: -70%;
        border: 1px solid transparent;
        z-index: 200px;
    }

    .bar-box {
        display: block;
    }


    header .otherside ul li {
        padding: 20px;
        border: 1px solid transparent;
    }

    .logo {
        font-size: 25px;
        letter-spacing: 0;
        margin-left: 20px;
    }

    .closebar {
        display: block;
        color: var(--color-orange);
    }

    .bar-box {
        left: 20px;
        /* position: absolute;  */
    }


    .bars {
        display: block;
    }

    .cartlist {
        right: 10px;
        position: absolute;
    }


    .Natural {
        font-size: 2em;
    }






    .showw {
        background-color: var(--color-white);
        padding: 5px 30px;
        border-radius: 30px;
        display: flex;
        margin: 10px 0 0 25%;
        align-items: center;
        justify-content: center;
        width: 50%;
        position: relative;
        border: 1px solid transparent;
        font-size: 0.8em;
        font-weight: bold;
        font-family: "mukta", sans-serif;
        color: black;
    }

  
}

@media screen and (max-width:768px) {

    .boxa-content p {
        font-weight: 400;
        text-align: center;
        font-size: 0.9em;
    }


    .bars {
        display: block;
    }


    /* -------------------------SUPPORT SECTION-------------------*/



.support-flex-container{
   flex-direction: column;
 }
 
 .support-flex-container .boxa{
     border-right: unset;
     width:350px;
     height:350px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .boxa img{
     border: 1px solid transparent;
     width:150px;
     height:150px;
     text-align: center;
 }
 
 
 /* -------------------------VISIT US-------------------*/
 
 .visit-us{
     border: 1px solid red;
     padding:100px 0;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 

    .footer {
        display: flex;
        flex-direction: column;
    }

    .first-box {
        width: 100%;
        margin: 5px;
        height: 250px;
    }

    .second-box,
    .third-box {
        width: 100%;
        margin: 5px;
        height: 150px;
    }

    li .buy-now {
        margin: 0 0 0 -10px;
        background-color: var(--color-green);
        border: 1px solid transparent;
        padding: 5px 30px;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        display: flex;
        cursor: pointer;

    }

}

@media screen and (max-width:640px) {

    .img-con img {
        width: 100%;
    }



   
    .footer {
        font-size: 0.8em;
    }

    .third-box ul li h3 {
        font-size: 1em;
    }

}

@media screen and (max-width:620px) {


    header .container .cartlist {
        border: 1px solid transparent;
        width: 30%;
        padding: 10px;
        justify-content: space-between;
    }

    /*------------------FIRST SECTION--------------------------*/

    .sectiona {
        flex-direction: column-reverse;
        padding: 0px 0;
        height: 600px;

    }

    .sectiona .boxb {
        border: 1px solid var(--color-green);
        width: 100%;
        background-color: var(--color-green);
        border-radius: 0;
        height: 40%;
    }

    .sectiona .boxa {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        height: 100%;
        margin-top: 80px;
    }

    /* -----------------straight image--------------------------*/
    .boxb .imga {
        margin: 80px auto;
        height: 250px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* -----------------slant image--------------------------*/
    .boxb .imgb {
        height: 350px;
        width: 350px;
        border: 1px solid transparent;
        position: absolute;
        margin: -300px 0 0 -50px;
        display: none;
    }

    /* -----------------first now second in reverse flex box--------------------------*/
    .boxa-content {
        border: 1px solid transparent;
        height: 100%;
    }

    .Natural {
        font-weight: 700;
        font-size: 1.1em;
        text-align: center;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 900;
    }

    .boxa-content p {
        font-weight: 400;
        text-align: center;
        font-size: 0.9em;
    }

    /* -----------------first now second in reverse flex box--------------------------*/
    .buy-now {
        margin: 0 auto;
    }



    .trash {
        display: none;
    }


    main {
        position: relative;
        top: 6.5em;
    }

    .sectiona {
        top: 20px;
    }




    /* -------------------------RIGHT-------------------*/

    main .container .right {
        position: sticky;
        bottom: 0;
        height: max-content;
        top: var(--sticky-top-right);
    }


    .showw {
        background-color: var(--color-light);
    }

}