.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
}

.order-message{
    display: flex;
   
    font-weight: bold;
    font-size: 1.2em;
    /* color: red; */
    text-align: center;
    margin: 70px auto;
}